#body-wrap{
	/* webkit内核 5.1 - 6.0 */
	background: -webkit-linear-gradient(left, rgba(0,255,0,0.5), yellow);
	/* Opera 11.1 - 12.0 */
	background: -o-linear-gradient(right, rgba(0,255,0,0.5), yellow);
	/* Firefox 3.6 - 15 */
	background: -moz-linear-gradient(right, rgba(0,255,0,0.5), yellow);
	/* 标准的语法 */
	background: linear-gradient(to right, rgba(0,255,0,0.5), yellow);
}
